## <span style='font-family:"Times New Roman"'> <span style='color:Red'> **Pandas Library in Python**

- <span style='font-family:"Times New Roman"'> Pandas Library <br>
<span style='font-family:"Times New Roman"'>  for Data Processing and analysis <br>
- <span style='font-family:"Times New Roman"'>  Data Frames <br>
<span style='font-family:"Times New Roman"'> Pandas Data frame is two dimensional tabular data structure with labelled axes (rows and columns)

In [ ]:
# importing pandas library 
import pandas as pd 
import numpy as np

 1. <span style='font-family:"Times New Roman"'> Creating a pandas dataframe

In [ ]:
# importing the Diabetes data 
from sklearn.datasets import load_diabetes

In [ ]:
diabetes_dataset = load_diabetes()
type(diabetes_dataset)
print(diabetes_dataset)

In [ ]:
# Pandas data frame 
diabetes_df = pd.DataFrame(diabetes_dataset.data, columns = diabetes_dataset.feature_names)
diabetes_df.head()

In [ ]:
diabetes_df.shape

2. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Importing dataset from csv file**

In [ ]:
# CSV file to pandas Dataframe 
student_df = pd.read_csv('/home/rohit/Rohit/Machine_Learn/pandas/student.csv')
diabetes_df1 = pd.read_csv('/home/rohit/Rohit/Machine_Learn/pandas/diabetes.csv')

# Printing data type 
type(student_df)

# Printing 1st five Entries
student_df.head()

# Printing dimension of the data
student_df.shape

3. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Importing dataset from excel file**

In [ ]:
student_df1 = pd.read_excel('/home/rohit/Rohit/Machine_Learn/pandas/student.xlsx')

student_df1.head()

4.  <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Exporting pandas dataset to csv file**

In [ ]:
# Pandas dataframe to csv 
diabetes_df.to_csv('diabetic.csv')

5. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Creating a Random Dataset**

In [ ]:
# creating a random dataset 
random_df  = pd.DataFrame(np.random.rand(20,10)*10)
random_df.head()

6. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Inspecting on a dataset**

In [ ]:
# Finding number of rows and columns
diabetes_df.shape

In [ ]:
# Printing 1st five rows 
diabetes_df.head()

In [ ]:
# Printing Last five rows of dataframe 
diabetes_df.tail()

In [ ]:
# Information about the dataframe 
diabetes_df.info()

In [ ]:
# No. of missing values in each columns 
diabetes_df.isnull().sum()

In [ ]:
# Counting the values based on Labels 
diabetes_df1.value_counts("Outcome")

In [ ]:
# Group the values based on their mean 
diabetes_df1.groupby("Outcome").mean()

7. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Statistical Measures on a dataset**

In [ ]:
# Counts or number of values in each column 
diabetes_df1.count()

In [ ]:
# mean value column wise 
diabetes_df1.mean()

In [ ]:
# standard deviation column wise
diabetes_df1.std()

In [ ]:
# minimum value in each column 
diabetes_df1.min()

In [ ]:
# maximum value of each column
diabetes_df1.max()

In [ ]:
# all the stat meas using one command
diabetes_df1.describe()

8. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Manipulating a dataframe**

In [ ]:
print(diabetes_df)

In [ ]:
# Removing a particular row
diabetes_df.drop(index=0, axis = 0)

In [ ]:
# Drop a column 
diabetes_df.drop(columns = 'sex', axis = 1 )

In [ ]:
# printing (locating ) a row using index value
diabetes_df.iloc[2]

In [ ]:
# Locating a particular column 
print(diabetes_df.iloc[:,0]) # First Column of data frame 
print(diabetes_df.iloc[:,-1]) # Last Column of data frame

9. <span style='font-family:"Times New Roman"'> <span style='color:Green'> **Correlation** 

- <span style='font-family:"Times New Roman"'> Positive correlation
- <span style='font-family:"Times New Roman"'> Negative correlation

In [85]:
# Finding correlation 
diabetes_df.corr()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
age,1.000000,0.173737,0.185085,0.335428,0.260061,0.219243,-0.075181,0.203841,0.270774,0.301731
sex,0.173737,1.000000,0.088161,0.241010,0.035277,0.142637,-0.379090,0.332115,0.149916,0.208133
bmi,0.185085,0.088161,1.000000,0.395411,0.249777,0.261170,-0.366811,0.413807,0.446157,0.388680
bp,0.335428,0.241010,0.395411,1.000000,0.242464,0.185548,-0.178762,0.257650,0.393480,0.390430
s1,0.260061,0.035277,0.249777,0.242464,1.000000,0.896663,0.051519,0.542207,0.515503,0.325717
s2,0.219243,0.142637,0.261170,0.185548,0.896663,1.000000,-0.196455,0.659817,0.318357,0.290600
s3,-0.075181,-0.379090,-0.366811,-0.178762,0.051519,-0.196455,1.000000,-0.738493,-0.398577,-0.273697
s4,0.203841,0.332115,0.413807,0.257650,0.542207,0.659817,-0.738493,1.000000,0.617859,0.417212
s5,0.270774,0.149916,0.446157,0.393480,0.515503,0.318357,-0.398577,0.617859,1.000000,0.464669
s6,0.301731,0.208133,0.388680,0.390430,0.325717,0.290600,-0.273697,0.417212,0.464669,1.000000